In [9]:
setwd("C:/Users/linhd/OneDrive/8th Semester/MIS 4596/Code Samples")
# BL-Flickr-Images-Book
df <- read.csv(file="BL.csv",header=TRUE)
df <- data.frame(df)
head(df,2) # list first 2 rows of the table

  Identifier Edition.Statement Place.of.Publication     Date.of.Publication
1 206                          London                   1879 [1878]
2 216                          London; Virtue & Yorston 1868
  Publisher
1 S. Tinsley & Co.
2 Virtue & Co.
  Title
1 Walter Forbes. [A novel.] By A. A
2 All for Greed. [A novel. The dedication signed: A. A. A., i.e. Marie Pauline Rose, Baroness Blaze de Bury.]
  Author    Contributors                                 Corporate.Author
1 A. A.     FORBES, Walter.                              NA
2 A., A. A. BLAZE DE BURY, Marie Pauline Rose - Baroness NA
  Corporate.Contributors Former.owner Engraver Issuance.type
1 NA                                  NA       monographic
2 NA                                  NA       monographic
  Flickr.URL
1 http://www.flickr.com/photos/britishlibrary/tags/sysnum000000206
2 http://www.flickr.com/photos/britishlibrary/tags/sysnum000000216
  Shelfmarks
1 British Library HMNTS 12641.b.30.
2 British Library HMNTS 12626.cc.2.

In [10]:
#drop a number of useless columns
to_drop <- c('Edition.Statement', 'Corporate.Author', 'Corporate.Contributors','Former.owner','Engraver','Contributors', 'Issuance.type','Shelfmarks')
# !(names(df) %in% to_drop) is a boolean vector to filter out FALSE values (not in the to_drop list is false)
# !(names(df) %in% to_drop)
df <- df[,!(names(df) %in% to_drop)]
#another method of dropping columns
# df <- subset(df, select= !(names(df) %in% to_drop))
head(df,2)

  Identifier Place.of.Publication     Date.of.Publication Publisher
1 206        London                   1879 [1878]         S. Tinsley & Co.
2 216        London; Virtue & Yorston 1868                Virtue & Co.
  Title
1 Walter Forbes. [A novel.] By A. A
2 All for Greed. [A novel. The dedication signed: A. A. A., i.e. Marie Pauline Rose, Baroness Blaze de Bury.]
  Author    Flickr.URL
1 A. A.     http://www.flickr.com/photos/britishlibrary/tags/sysnum000000206
2 A., A. A. http://www.flickr.com/photos/britishlibrary/tags/sysnum000000216

In [11]:
#set Identifer as the Index of the the dataframe. Useful for later.
rownames(df) <- df$Identifier;
# head(df$Identifier, 5)

In [12]:
# Use str() to explore data structure (types + examples) of each column. Use sapply to loop horizontally accross columns. Use table() to wrap all these up and create a summary table
str(df)

'data.frame':	8287 obs. of  7 variables:
 $ Identifier          : int  206 216 218 472 480 481 519 667 874 1143 ...
 $ Place.of.Publication: Factor w/ 1441 levels "'s-Gravenhage",..: 695 811 695 695 695 695 695 1071 816 695 ...
 $ Date.of.Publication : Factor w/ 1149 levels "","[1710?]","[1710]",..: 923 825 835 686 733 878 857 1 334 338 ...
 $ Publisher           : Factor w/ 1990 levels "","-152. D. H. Edwards",..: 1519 1773 216 997 1912 1946 1700 1 1 1 ...
 $ Title               : Factor w/ 8210 levels "'Alter Ejusdem': being another instalment of lilts and lyrics. By the author of 'Mistura curiosa' [i.e. J. A. S"| __truncated__,..: 8064 1399 4287 8086 723 723 3981 6243 1264 1134 ...
 $ Author              : Factor w/ 5006 levels "","A'BECKETT, Gilbert Abbott.",..: 4 5 5 6 6 6 7 8 3831 9 ...
 $ Flickr.URL          : Factor w/ 8287 levels "http://www.flickr.com/photos/britishlibrary/tags/sysnum000000206",..: 1 2 3 4 5 6 7 8 9 10 ...

In [13]:
#Turn Date.Of.Publication and Place.Of.Publication into a character vector.
df$Date.of.Publication <- as.character(df$Date.of.Publication)
df$Place.of.Publication <- as.character(df$Place.of.Publication)
class(df$Date.of.Publication)
class(df$Place.of.Publication)
# Filter the longer date into df_long_date. This allows us to see what the errors are when the string is longer than 6.
df_long_date <- subset(df,nchar(df$Date.of.Publication) > 6)  # Use subset for general conditional. No need for df[...]

# Seems like we better keep the first instance of a year.
head(df_long_date["Date.of.Publication"], 10)

# I HAVE NOT DONE THE SAME IN PYTHON - WILL DO LATER

[1] "character"

[1] "character"

      Date.of.Publication
206   1879 [1878]
1929  1839, 38-54
2956  1860-63
5382  1847, 48 [1846-48]
5385  [1897?]
5389  [1897?]
11361 [1894-96
14466 [1860?]
21782 [1817.]
24878 1886, [1885]

In [14]:
# In RegEx, this means <Selecting a digit four consecutive time, starting the begining of the text, while ignoring the bracket>
# DEFINITELY USE https://regex101.com/ as to understand RegEx (Regular Expression)
# https://stat545.com/block022_regular-expression.html
# https://stackoverflow.com/questions/41611103/change-column-in-dataframe-based-on-regex-in-r
# https://stackoverflow.com/questions/28037248/r-regex-to-extract-information-from-string

require("stringr")
df$Date.of.Publication <- as.numeric(str_extract(df$Date.of.Publication, '^\\d{4}'))
head(df,5) #Show how the values in Date.of.publication has changed

    Identifier Place.of.Publication     Date.of.Publication
206 206        London                   1879
216 216        London; Virtue & Yorston 1868
218 218        London                   1869
472 472        London                   1851
480 480        London                   1857
    Publisher
206 S. Tinsley & Co.
216 Virtue & Co.
218 Bradbury, Evans & Co.
472 James Darling
480 Wertheim & Macintosh
    Title
206 Walter Forbes. [A novel.] By A. A
216 All for Greed. [A novel. The dedication signed: A. A. A., i.e. Marie Pauline Rose, Baroness Blaze de Bury.]
218 Love the Avenger. By the author of â\200œAll for Greed.â\200\235 [The dedication signed: A. A. A., i.e. Marie Pauline Rose, Baroness Blaze de Bury.]
472 Welsh Sketches, chiefly ecclesiastical, to the close of the twelfth century. By the author of â\200œProposals for Christian Unionâ\200\235 (E. S. A. [i.e. Ernest Appleyard])
480 [The World in which I live, and my place in it. By E. S. A. [i.e. Letitia Willgoss Stone.] Edited by ... J. H. Broome.]
    Author    Flickr.URL
206 A. A.     http://www.flickr.com/photos/britishlibrary/tags/sysnum000000206
216 A., A. A. http://www.flickr.com/photos/britishlibrary/tags/sysnum000000216
218 A., A. A. http://www.flickr.com/photos/britishlibrary/tags/sysnum000000218
472 A., E. S. http://www.flickr.com/photos/britishlibrary/tags/sysnum000000472
480 A., E. S. http://www.flickr.com/photos/britishlibrary/tags/sysnum000000480

In [15]:
sum(is.na(df$Date.of.Publication))/nrow(df) # Show how many NA is there in the rows now.

[1] 0.1171715

In [28]:
# Let's try to standardize the Place of Publication. Let's try to see what kind of values are thereself.
as.data.frame(table(df$Place.of.Publication)) #table by itself is not graphically pleasant

     Var1                                                    Freq
1    's Gravenhage                                           13
2    's Hertogenbosch                                         3
3    ] Appledore U.S. Press                                   1
4    ] Barth, printer, Wych Street, Strand                    1
5    ] Birmingham                                             1
6    ] Edinburgh                                              1
7    1 3. Edinburgh                                           1
8    1 3. Paris                                               1
9    1814                                                     1
10   1830?]                                                   1
11   1845                                                     1
12   1885?]                                                   1
13   1895                                                     1
14   2 Bd. Naumburg                                           1
15   2 Bdchn. Berlin                                          1
16   2 Ñ‚Ð¾Ð¼. Ð¡Ð°Ð½ÐºÑ‚Ð¿ÐµÑ‚ÐµÑ\200Ð±ÑƒÑ\200Ð³ÑŠ, 1867           1
17   2 pt. Ð¡Ð°Ð½ÐºÑ‚Ð¿ÐµÑ‚ÐµÑ\200Ð±ÑƒÑ\200Ð³ÑŠ, 1853, 54           1
18   2 Th. Helmstedt                                          1
19   2 Thle. Frankfurt am Main, 1880, 8Âº                     1
20   2 vol. W. Blackwood & Sons: Edinburgh, 1888              2
21   3 series. Leamington                                     1
22   3 vols. Edinburgh                                        1
23   4 vol. The Century Co.: New York, 1887, 8Âº              1
24   A. Green                                                 1
25   A. Millar                                                1
26   A. Strahan                                               1
27   A[ppledore]. P[rivate]. P[ress: New Haven, Conn.,] 1881  1
28   Aarau                                                    2
29   Aaron                                                    1
30   Abbeville                                                1
...  ...                                                     ...
1157 Windsor,]                                               1
1158 Winnipeg                                                1
1159 Winsted, Conn                                           1
1160 Winterthur                                              1
1161 Wirksworth                                              1
1162 Wirzburg                                                1
1163 Wisbech; Simpkin, Marshall & Co                         2
1164 Woodbridge                                              2
1165 Woolwich                                                1
1166 Worcester, [Mass.]                                      1
1167 Worcester, Mass                                         1
1168 Worthing                                                1
1169 Wrexham                                                 1
1170 Wrexham?]                                               1
1171 WuÌ\210rzburg                                              2
1172 Wycombe                                                 1
1173 xxu                                                     3
1174 Yarmouth                                                2
1175 Yarmouth?]                                              1
1176 Yokohama                                                2
1177 York                                                    8
1178 Yverdon                                                 1
1179 Zacatecas                                               1
1180 Zalt Bommel, Nijmegen [printed]                         1
1181 Zielenzig                                               1
1182 Znaim                                                   1
1183 ZuÌ\210rich                                                9
1184 ZuÌ\210rich und Frauenfeld                                 1
1185 Zurich                                                  2
1186 Zutphen                                                 1

In [26]:
df_long_place <- subset(df,nchar(df$Place.of.Publication) > 10)
head(df_long_place["Place.of.Publication"], 6)
# It's a mess, but at least we know that London is in a lot of those.

      Place.of.Publication
1808  Christiania
3017  Puerto Rico
11852 pp. 40. W. Cann: Plymouth, [1876?]
19340 St. Petersburg
28615 Carlstad, Stockholm
33833 D. Appleton & Co

In [17]:
# I HAVE NOT DONE THE SAME IN PYTHON - WILL DO LATER

london_filter = str_detect(df$Place.of.Publication,"London")
oxford_filter = str_detect(df$Place.of.Publication,"Oxford")
# detect whether "London is present in that cell" -> Turn into a boolean vector/mask

# library(tictoc) // Commenting this out first because it's not necessary to time it yet.
# tic()

df$Place.of.Publication <-ifelse(london_filter, "London", ifelse(oxford_filter,"Oxford",str_replace_all(df$Place.of.Publication,'-', ' ')))
#Filter the larger one first, then use the construction [["name here"]] to get to the column.
# Case_when using dplyr can be just as good.

# toc() // Can save the time in a variable for outputting later

head(df[,c('Place.of.Publication','Publisher')],10)

     Place.of.Publication Publisher
206  London               S. Tinsley & Co.
216  London               Virtue & Co.
218  London               Bradbury, Evans & Co.
472  London               James Darling
480  London               Wertheim & Macintosh
481  London               William Macintosh
519  London               The Author
667  Oxford
874  London
1143 London

In [18]:
# At first, the starts one step above everything -> Column names do not match.
df2 = read.csv("olympics.csv", header= TRUE)
head(df2, 5)

  X0                X1       X2   X3   X4   X5    X6       X7   X8   X9   X10
1                   ? Summer 01 ! 02 ! 03 ! Total ? Winter 01 ! 02 ! 03 ! Total
2 Afghanistan (AFG) 13       0    0    2    2     0        0    0    0    0
3 Algeria (ALG)     12       5    2    8    15    3        0    0    0    0
4 Argentina (ARG)   23       18   24   28   70    18       0    0    0    0
5 Armenia (ARM)     5        1    2    9    12    6        0    0    0    0
  X11     X12  X13  X14  X15
1 ? Games 01 ! 02 ! 03 ! Combined total
2 13      0    0    2    2
3 15      5    2    8    15
4 41      18   24   28   70
5 11      1    2    9    12

In [19]:
# Skip one line so that it matches
df2 = read.csv("olympics.csv", header= TRUE,sep = ",", skip=1)
head(df2, 2)

  X                 X..Summer X01.. X02.. X03.. Total X..Winter X01...1 X02...1
1 Afghanistan (AFG) 13        0     0     2      2    0         0       0
2 Algeria (ALG)     12        5     2     8     15    3         0       0
  X03...1 Total.1 X..Games X01...2 X02...2 X03...2 Combined.total
1 0       0       13       0       0       2        2
2 0       0       15       5       2       8       15

In [20]:
require("dplyr")

# Obviously, in R, you can just pass a list of names in the right order, but what if there are more columns and less structure
oldnames = c("X","X..Summer",'X01..','X02..','X03..','X..Winter','X01...1','X02...1','X03...1','X..Games','X01...2','X02...2','X03...2')
newnames = c("Country","Summer",'Gold','Silver','Bronze','Winter_Olympics','Gold_W','Silver_W','Bronze_W','Number of Games','Gold_G','Silver_G','Bronze_G')

# The "pipe" -> Explain later
df2 <- df2 %>% rename_at(vars(oldnames), ~ newnames)
# In the end, %>% is similar to chaining Python method .str.apply(....).mean()

head(df2,5)

  Country                 Summer Gold Silver Bronze Total Winter_Olympics
1 Afghanistan (AFG)       13      0    0      2      2     0
2 Algeria (ALG)           12      5    2      8     15     3
3 Argentina (ARG)         23     18   24     28     70    18
4 Armenia (ARM)            5      1    2      9     12     6
5 Australasia (ANZ) [ANZ]  2      3    4      5     12     0
  Gold_W Silver_W Bronze_W Total.1 Number of Games Gold_G Silver_G Bronze_G
1 0      0        0        0       13               0      0        2
2 0      0        0        0       15               5      2        8
3 0      0        0        0       41              18     24       28
4 0      0        0        0       11               1      2        9
5 0      0        0        0        2               3      4        5
  Combined.total
1  2
2 15
3 70
4 12
5 12