In [3]:
if (!require("tidyverse")) { install.packages("tidyverse")
  require("tidyverse") };
  library("tidyverse");

if (!require("reshape")) { install.packages("reshape")
  require("reshape") };
library("reshape");

if (!require("data.table")) { install.packages("data.table")
  require("data.table") };
library("data.table");

Loading required package: tidyverse
-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 3.1.0       v purrr   0.2.5
v tibble  2.0.1       v dplyr   0.8.0.1
v tidyr   0.8.1       v stringr 1.3.1
v readr   1.1.1       v forcats 0.3.0
Warning message:
"package 'ggplot2' was built under R version 3.5.2"Warning message:
"package 'tibble' was built under R version 3.5.2"Warning message:
"package 'dplyr' was built under R version 3.5.2"-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
Loading required package: reshape

Attaching package: 'reshape'

The following object is masked from 'package:dplyr':

    rename

The following objects are masked from 'package:tidyr':

    expand, smiths

Loading required package: data.table

Attaching package: 'data.table'

The following object is masked from 'package:reshape':

    melt

The following objects are masked from 'package:dplyr':

    between, first, last

The following object is masked from 'package:purrr':

    transpose

In [4]:
MyData <- read.csv(file="all_stocks_2017-2018.csv", header=TRUE, sep=",");
tail(MyData,5)

     Date       Open  High  Low   Close Volume   Name
7777 12/22/2017 71.42 71.87 71.22 71.58 10979165 AABA
7778 12/26/2017 70.94 71.39 69.63 69.86  8542802 AABA
7779 12/27/2017 69.77 70.49 69.69 70.06  6345124 AABA
7780 12/28/2017 70.12 70.32 69.51 69.82  7556877 AABA
7781 12/29/2017 69.79 70.13 69.43 69.85  6613070 AABA

In [5]:
NewData <- MyData %>%
  filter(str_detect(Name, "AAPL|MSFT|AMZN|GOOGL"))

In [6]:
PivotedData <- cast(NewData, Date ~ Name, value = "Close")
PivotedData <- PivotedData[order(as.Date(PivotedData$Date, format="%m/%d/%Y")), ]
tail(PivotedData)

   Date       AAPL   AMZN    GOOGL   MSFT
73 12/21/2017 175.01 1174.76 1070.85 85.50
74 12/22/2017 175.01 1168.36 1068.86 85.51
75 12/26/2017 170.57 1176.76 1065.85 85.40
76 12/27/2017 170.60 1182.26 1060.20 85.71
77 12/28/2017 171.08 1186.10 1055.95 85.72
78 12/29/2017 169.23 1169.47 1053.40 85.54

In [7]:
# Turn data into index (rownames in R) to simplify transformations later on
rownames(PivotedData) <- PivotedData$Date
PivotedData$Date <- NULL

## Understanding of vectorized functions
- Lead vs lag in R, while just + or - in Python. -> Python is 
- lapply vs

In [8]:
Shifted <- lapply(PivotedData,lag,n=7)
head(data.frame(Shifted),10)

   AAPL   AMZN   GOOGL  MSFT
1      NA     NA     NA    NA
2      NA     NA     NA    NA
3      NA     NA     NA    NA
4      NA     NA     NA    NA
5      NA     NA     NA    NA
6      NA     NA     NA    NA
7      NA     NA     NA    NA
8  116.15 753.67 808.01 62.58
9  116.02 757.18 807.77 62.30
10 116.61 780.45 813.02 62.30

In [9]:
Rate_of_change <-  PivotedData/Shifted - 1
head(data.frame(Shifted),10)
head(Rate_of_change,10)

   AAPL   AMZN   GOOGL  MSFT
1      NA     NA     NA    NA
2      NA     NA     NA    NA
3      NA     NA     NA    NA
4      NA     NA     NA    NA
5      NA     NA     NA    NA
6      NA     NA     NA    NA
7      NA     NA     NA    NA
8  116.15 753.67 808.01 62.58
9  116.02 757.18 807.77 62.30
10 116.61 780.45 813.02 62.30

          AAPL       AMZN       GOOGL      MSFT
1/3/2017          NA         NA         NA           NA
1/4/2017          NA         NA         NA           NA
1/5/2017          NA         NA         NA           NA
1/6/2017          NA         NA         NA           NA
1/9/2017          NA         NA         NA           NA
1/10/2017         NA         NA         NA           NA
1/11/2017         NA         NA         NA           NA
1/12/2017 0.02668963 0.07957063 0.02663333 0.0004793864
1/13/2017 0.02602999 0.07918857 0.02868391 0.0064205457
1/17/2017 0.02907126 0.03750400 0.01776094 0.0036918138

In [10]:
Rate_of_change$Date <- rownames(Rate_of_change)

MeltedData <- melt(Rate_of_change, id="Date")
colnames(MeltedData)[3] <- "delta_7"
#write.csv(Rate_of_change, file = "Rate_of_change.csv")
head(MeltedData,20)

   Date      variable delta_7
1  1/3/2017  AAPL              NA
2  1/4/2017  AAPL              NA
3  1/5/2017  AAPL              NA
4  1/6/2017  AAPL              NA
5  1/9/2017  AAPL              NA
6  1/10/2017 AAPL              NA
7  1/11/2017 AAPL              NA
8  1/12/2017 AAPL     0.026689625
9  1/13/2017 AAPL     0.026029995
10 1/17/2017 AAPL     0.029071263
11 1/18/2017 AAPL     0.017640573
12 1/19/2017 AAPL     0.006639213
13 1/20/2017 AAPL     0.007472085
14 1/23/2017 AAPL     0.002755741
15 1/24/2017 AAPL     0.006037736
16 1/25/2017 AAPL     0.023857527
17 1/26/2017 AAPL     0.016166667
18 1/27/2017 AAPL     0.016334695
19 1/30/2017 AAPL     0.015444982
20 1/31/2017 AAPL     0.011250000

In [11]:
# We want to shift the data to create a dataset that contains records moving backwards by day 7 days (1 week), 14 days (2 weeks), 21 days, and 28 days.

delta_dict <- list(7,14,21,28)
names(delta_dict) <- list("delta_7","delta_14","delta_21","delta_28")

In [12]:
melted_dfs <- list()
for (i in delta_dict)
{
  transit <- lapply(PivotedData,lag,n=i)
  rate_change <-  PivotedData/transit - 1
  rate_change$Date <- rownames(rate_change)
  melted_dfs[[paste("delta_",i)]] <- melt(rate_change, id="Date")
  colnames(melted_dfs[[paste("delta_",i)]])[2] <- "Name"
  colnames(melted_dfs[[paste("delta_",i)]])[3] <- paste("delta_",i)
}

In [13]:
# We need a seperate section to shift 7 days forward (to act as a future predictor)
transit <- lapply(PivotedData,lead,n=7)
rate_change <-  PivotedData/transit - 1
rate_change$Date <- rownames(rate_change)
melted_dfs[["return_7"]] <- melt(rate_change, id="Date")
colnames(melted_dfs[["return_7"]])[2] <- "Name"
colnames(melted_dfs[["return_7"]])[3] <- "return_7"

In [14]:
Merged_Return <- Reduce(function(x,y) merge(x,y,by=c("Date","Name"),all=TRUE),melted_dfs)
base_Data <- select(NewData,'Date', 'Name', 'Volume', 'Close')

Merged_Data <- merge(base_Data,Merged_Return,by=c("Date","Name"),all=TRUE)
Merged_Data <- Merged_Data[order(as.Date(Merged_Data$Date, format="%m/%d/%Y")), ] 
# Merged_Data <- Merged_Data[order(Merged_Data$Name)]

In [15]:
Merged_Data

    Date       Name  Volume   Close   delta_ 7      delta_ 14     delta_ 21
53  1/3/2017   AAPL  28781865 116.15          NA    NA            NA
54  1/3/2017   AMZN   3521066 753.67          NA    NA            NA
55  1/3/2017   GOOGL  1959033 808.01          NA    NA            NA
56  1/3/2017   MSFT  20694101  62.58          NA    NA            NA
65  1/4/2017   AAPL  21118116 116.02          NA    NA            NA
66  1/4/2017   AMZN   2510526 757.18          NA    NA            NA
67  1/4/2017   GOOGL  1515339 807.77          NA    NA            NA
68  1/4/2017   MSFT  21339969  62.30          NA    NA            NA
69  1/5/2017   AAPL  22193587 116.61          NA    NA            NA
70  1/5/2017   AMZN   5830068 780.45          NA    NA            NA
71  1/5/2017   GOOGL  1340535 813.02          NA    NA            NA
72  1/5/2017   MSFT  24875968  62.30          NA    NA            NA
73  1/6/2017   AAPL  31751900 117.91          NA    NA            NA
74  1/6/2017   AMZN   5986234 795.99          NA    NA            NA
75  1/6/2017   GOOGL  2017097 825.21          NA    NA            NA
76  1/6/2017   MSFT  19922919  62.84          NA    NA            NA
77  1/9/2017   AAPL  33561948 118.99          NA    NA            NA
78  1/9/2017   AMZN   3446109 796.92          NA    NA            NA
79  1/9/2017   GOOGL  1408924 827.18          NA    NA            NA
80  1/9/2017   MSFT  20382730  62.64          NA    NA            NA
1   1/10/2017  AAPL  24462051 119.11          NA    NA            NA
2   1/10/2017  AMZN   2558369 795.90          NA    NA            NA
3   1/10/2017  GOOGL  1197442 826.01          NA    NA            NA
4   1/10/2017  MSFT  18593004  62.62          NA    NA            NA
5   1/11/2017  AAPL  27588593 119.75          NA    NA            NA
6   1/11/2017  AMZN   2992791 799.02          NA    NA            NA
7   1/11/2017  GOOGL  1325394 829.86          NA    NA            NA
8   1/11/2017  MSFT  21517335  63.19          NA    NA            NA
9   1/12/2017  AAPL  27086220 119.25  0.02668963    NA            NA
10  1/12/2017  AMZN   4873922 813.64  0.07957063    NA            NA
... ...        ...   ...      ...     ...           ...           ...
283 12/19/2017 GOOGL  1317519 1079.78  0.0289694867  0.0408721973  0.0423693635
284 12/19/2017 MSFT  23524787   85.83  0.0198431559  0.0298776098  0.0416262136
285 12/20/2017 AAPL  23475649  174.35  0.0097295419  0.0145475706  0.0257089069
286 12/20/2017 AMZN   2371166 1177.62  0.0074427677  0.0007393244  0.0455558416
287 12/20/2017 GOOGL  1436391 1073.56  0.0205233990  0.0360848123  0.0375968917
288 12/20/2017 MSFT  23674931   85.52  0.0034025578  0.0160389688  0.0362292500
289 12/21/2017 AAPL  20949896  175.01  0.0192778101  0.0231511254  0.0108005083
290 12/21/2017 AMZN   2123117 1174.76  0.0083084423  0.0106766464  0.0309524436
291 12/21/2017 GOOGL  1282025 1070.85  0.0210532338  0.0446603647  0.0195658383
292 12/21/2017 MSFT  17990745   85.50 -0.0009347978  0.0147163541  0.0212613473
293 12/22/2017 AAPL  16349444  175.01  0.0159052650  0.0306831567  0.0002857796
294 12/22/2017 AMZN   1585054 1168.36  0.0036336148  0.0303452533  0.0105521727
295 12/22/2017 GOOGL   889446 1068.86  0.0166160987  0.0563214642  0.0161038862
296 12/22/2017 MSFT  14145841   85.51  0.0018746339  0.0546373952  0.0288773914
297 12/26/2017 AAPL  33185536  170.57 -0.0095807688  0.0054821976 -0.0251471681
298 12/26/2017 AMZN   2005187 1176.76  0.0021290004  0.0308259677 -0.0077908938
299 12/26/2017 GOOGL   918767 1065.85  0.0079245747  0.0453609259  0.0088308787
300 12/26/2017 MSFT   9891237   85.40  0.0083835164  0.0466968991  0.0257026183
301 12/27/2017 AAPL  21498213  170.60 -0.0193711559  0.0094077274 -0.0200471021
302 12/27/2017 AMZN   1867208 1182.26  0.0026459962  0.0259556558 -0.0113477668
303 12/27/2017 GOOGL  1116203 1060.20 -0.0110074627  0.0266093423 -0.0110166883
304 12/27/2017 MSFT  14678025   85.71 -0.0131260794  0.0353950230  0.0219387147
305 12/28/2017 AAPL  16480187  171.08 -0.0302686770  0.0103945193 -0.0114982377
306 12/28/2017 AMZN   1841676 1186.10 -0.0037628719  0.0226851413 -0.0062835121
307 12/28/2017 GOOGL   994249 1055.95 -0.0268549153  0.0108944350 -0.0069031026
308 12/28/2017 MSFT  10594344   85.72 -0.0076406576  0.0391562614  0.0098963242
309 12/29/2017 AAPL  25999922  169.23 -0.0304228257 -0.0008265927 -0.0014751003
310 12/29/2017 AMZN   2688391 1169.47 -0.0150836295  0.0064285714  0.0070612347
311 12/29/2017 GOOGL  1180340 1053.40 -0.0244309026  0.0038308334  0.0154427500
312 12/29/2017 MSFT  18717406   85.54 -0.0033787720  0.0163973384  0.0263978882
    delta_ 28     return_7
53  NA            -0.0259958071
54  NA            -0.0737058158
55  NA            -0.0259424011
56  NA            -0.0004791567
65  NA            -0.0253696237
66  NA            -0.0733778789
67  NA            -0.0278840831
68  NA            -0.0063795853
69  NA            -0.0282500000
70  NA            -0.0361482982
71  NA            -0.0174509946
72  NA            -0.0036782344
73  NA            -0.0173347779
74  NA            -0.0142294546
75  NA            -0.0045957878
76  NA             0.0054400000
77  NA            -0.0065954249
78  NA            -0.0149807179
79  NA             0.0034086636
80  NA             0.0054574639
1   NA            -0.0074166667
2   NA            -0.0153773830
3   NA            -0.0026081602
4   NA            -0.0019126554
5   NA            -0.0027481679
6   NA            -0.0230596175
7   NA            -0.0172542425
8   NA             0.0036531131
9   NA            -0.0060015004
10  NA            -0.0106998687
... ...           ...
283  0.0203063433 0.025042719
284  0.0150189215 0.003390227
285 -0.0086991130          NA
286  0.0429445679          NA
287  0.0246630779          NA
288  0.0170055892          NA
289  0.0019465277          NA
290  0.0439063402          NA
291  0.0255710386          NA
292  0.0194348396          NA
293  0.0059780422          NA
294  0.0347069086          NA
295  0.0265655013          NA
296  0.0188252115          NA
297 -0.0044939886          NA
298  0.0351148798          NA
299  0.0232421950          NA
300  0.0160618679          NA
301  0.0089898273          NA
302  0.0493214638          NA
303  0.0229542363          NA
304  0.0328994939          NA
305 -0.0001168907          NA
306  0.0429178134          NA
307  0.0071342051          NA
308  0.0302884615          NA
309 -0.0054069938          NA
310  0.0350391192          NA
311  0.0169033392          NA
312  0.0381067961          NA

In [16]:
write.csv(Merged_Data, file = "MergedData.csv")